<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<form action="/search" method="get">
  <%= render 'search_field' %>
</form>

<% if @results %>
  <h1>Results: <%= @results.count %></h1>
  <ul>
    <% @results.each do |r| %>
      <li><a href="<%= r["link"]%>"><%= r["title"] %></a></li>
    <% end %>
  </ul>
<% end %>
